{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}
<h5 class="titre-categorie">Nos produits</h5>
 <div>
  {% for categories in categorie %}
  <a href="{{ path('front_main_categ',{'id': categories.id})}}" type="button"
    class="btn-categorie">{{categories.nom}}</a>
{% endfor %}
</div>
<div>
ICI CAROUSELLE DE PRODUIT ALEATOIRE bla bla
</div>
{% endblock %}

